* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'Montserrat', ;
}

a {
    color: #29E7a7;
    font-weight: 700;
}

/* FÄRGER */ 

/* 
#7840BD
#29E7A7
*/

#signupForm {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 445px;
    height: 660px;
    background: #7840BD;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.24);
}

#signupForm .signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 4rem 0;
}

#signupForm .signup-header h1 {
    font-family: Montserrat-Bold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

#signupForm .signup-header p {
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
#signupForm .signup-header a {
    font-family: Montserrat-Bold;
    font-weight: 700;
    font-style: italic;
}

#signupForm form {
    background: #FFF;
    padding: 5.7rem 0;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
}

#signupForm .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

#signupForm input {
    border: none;
    border-bottom: solid 3px #D8D8D8;
    margin: 1rem 0;
    padding: .2rem;
    font-size: 1rem;
}

#signupForm .button-container {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#signupForm .cta-btn {
    background: #29E7A7;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
    border-radius: 100px;
    font-family: Montserrat-BlackItalic;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 5rem;
    border-bottom: 0;
    cursor: pointer;
    user-select: none;
    outline: none;
}

#signupForm .cta-btn:active {
    transform: scale(0.95);
}