* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'Montserrat';
}

a {
    color: #29E7a7;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #29E7a7;
}

/* FÄRGER */ 

/* 
#7840BD
#29E7A7
*/

#signupForm {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 445px;
    height: 660px;
    background: #7840BD;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.24);
}

#signupForm .signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 4rem 0;
}

#signupForm .signup-header h1 {
    font-family: Montserrat-Bold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

#signupForm .signup-header p {
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
#signupForm .signup-header a {
    font-family: Montserrat-Bold;
    font-weight: 700;
    font-style: italic;
}

#signupForm form {
    background: #FFF;
    padding: 5.7rem 0;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
}

#signupForm .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

#signupForm input {
    border: none;
    border-bottom: solid 3px #D8D8D8;
    margin: 1rem 0;
    padding: .2rem;
    font-size: 1rem;
}

#signupForm .button-container {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#signupForm .cta-btn {
    background: #29E7A7;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
    border-radius: 100px;
    font-family: Montserrat-BlackItalic;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 5rem;
    border-bottom: 0;
    cursor: pointer;
    user-select: none;
    outline: none;
}

#signupForm .cta-btn:active {
    transform: scale(0.95);
}

#admin-view {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FLOW */ 

.flow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.flow-row {
    margin: 1rem 0;
    width: 60%;
    padding: 2rem 1rem;
    transition: all .2s ease;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 2px #00000047;
}

.flow-row:hover {
    border-bottom: none;
}

.flow-row:hover {
    transform: scale(1.05);
}

/* posts & comments */ 

.post-wrapper {
    background: #f3f3f3;
    padding: 0 0.5rem;
}

.comment-section {
    margin: 0 1rem;
}

.back-btn {
    margin: .5rem 0;
    font-style: italic;
    font-weight: 900;
    text-transform: lowercase;
}

.post-container {
    padding: 1rem 0 2rem 0;
}

.post-container h1 {
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.post-container p { /* content */ 
    border-top: solid 2px #7840BD;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.post-created {
    font-size: 1rem;
    opacity: 0.5;
    font-style: italic;
}

.post-buttons {

}

.post-buttons a {
    margin: 0 .2rem;
}

.comment-container {
    margin: 2rem 0;
    position: relative;
    padding: 2rem .5rem; 
    background: #fff;
    /* box-shadow: 0px 2px 6px 2px #00000047; */
}

.comment-username {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.delete-comment-container {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.delete-comment-container .delete-btn {
    border: solid 2px red;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 900;
}