

/* ===Contact Form=== */
.contactContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url(../images/background.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.contactInfoContainer {
  background: rgba(0, 0, 0, 0.45);
  padding: 20% 0 0 15%;
  color: white;
}

.contactInfoContainer i {
  margin: 2vh 2.5vh 0 0;
}

.contactInfoContainer h3 {
  font-size: 4vh;
  font-weight: 600;
}

.contactInfoContainer p {
  margin: 0 0 4vh 4.5vh;
  color: #ff186d;
}

#contactInfoAddress {
  color: #868686;
}

.contactInfoTitle {
  display: flex;
  margin-bottom: 2vh;
}

.contactFormContainer {
  background: #f5f5f5;
}

.contactFormContainer h2 {
  text-align: center;
  font-size: 5vh;
  padding: 2vh 0 2vh 0;
  color: #2c2c2c;
  letter-spacing: 0.7px;
  word-spacing: 3px;
}

.contactFormContainer p {
  background: white;
  width: 100%;
  border-left: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  padding: 2vh 0 2vh 20px;
  font-size: 2.5vh;
  text-align: left;
  letter-spacing: 0.7px;
}

.contactFormContainer input {
  width: 100%;
  padding: 2vh 0 2vh 20px;
  font-size: 2.5vh;
  border: solid 1px rgb(180, 180, 180);
  margin-bottom: 2vh;
  letter-spacing: 0.7px;
  outline: none;
}

.contactFormContainer textarea {
  width: 100%;
  height: 10vh;
  border: solid 1px rgb(180, 180, 180);
  font-size: 2.5vh;
  padding: 2vh 0 0 20px;
  margin-bottom: 3vh;
  outline: none;
  resize: none;
}

.contactForm {
  margin: auto;
  width: 70%;
  text-align: center;
}

.contactName {
  display: grid;
  grid-template-columns: 50% 50%;
}

#contactLastName {
  border-left: 0;
}

.contactButton {
  background: #ff186d;
  color: white;
  width: 45%;
  font-size: 3vh;
  font-weight: 500;
  border: solid 0.5px gray;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  margin-bottom: 2vh;
  padding: 1vh 0 1vh 0;
  outline: none;
}

@media screen and (max-width: 950px) {
  .contactContainer {
    display: grid;
    grid-template-columns: auto;
    background-position: top;
    background-size: cover;
  }

  .contactInfoContainer {
    padding: 4vh 0 2vh 0;
    text-align: center;
    margin: 0;
  }

  .contactInfoTitle {
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .contactInfoContainer h3 {
    margin: 0;
  }

  .contactInfoContainer i {
    margin: 0;
  }

  .contactInfoContainer p {
    margin: 0 0 3vh 0;
  }
}

@media screen and (max-width: 550px) {
  .contactForm {
    width: 85%;
  }
  .contactButton {
    width: 65%;
    white-space: nowrap;
  }
}

/* About Page */
.aboutBanner {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.aboutContainer {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  width: 70%;
  margin: auto;
  padding: 5vh 0 6vh 0;
}

.aboutContainer h2 {
  font-size: 6vh;
  font-weight: 400;
  margin-bottom: 2.5vh;
}

.whoAreWeContiner {
  background: #f3f3f3;
  padding-bottom: 4vh;
}

.whoAreWeContiner h2 {
  text-align: center;
  font-size: 5vh;
  padding: 3vh 0 3vh 0;
}

.aboutContent {
  display: grid;
  width: 85%;
  grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
  grid-gap: 5%;
  margin: auto;
}

.aboutContent img {
  max-width: 100%;
}

.aboutContent hr {
  border: solid 1px black;
}

@media screen and (max-width: 950px) {
  .aboutContent {
    display: grid;
    grid-template-columns: auto auto;
  }

  .whoAreWeContiner {
    overflow: visible;
  }
}

@media screen and (max-width: 500px) {
  .aboutContent {
    display: grid;
    grid-template-columns: auto;
  }

  .aboutContainer {
    background: rgba(0, 0, 0, 0.45);
    color: white;
    width: 100%;
    margin: auto;
    padding: 5vh 0 6vh 0;
  }

  .whoAreWeContiner {
    overflow: visible;
  }
}